/* css for highlighting code in vs2015 dark mode style */
/* (without this rehype-highlight will not be highlighting) */
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/vs2015.css");

body {
  margin: 0;
  padding: 0;
}

/* css for scroll to top arrow button */

.scroll-to-top {
  z-index: 1;
  color: grey;
  position: fixed;
  right: 30px;
  bottom: 20px;
  cursor: pointer;
}

.scroll-to-top:hover {
  color:rgb(27, 71, 216)
}

/* css for sections */

section {
  text-align: center;
}

section ul {
  text-align: left;
}

/* Global styles (e.g. styles/globals.css) */
html[data-bs-theme='light'] section:nth-of-type(odd) {
  background-color: rgb(241, 241, 241);
}

html[data-bs-theme='dark'] section:nth-of-type(odd) {
  background-color: rgb(36, 40, 53);
}

/* css for markdown articles */

.article img {
  width: 100%;
  margin-bottom: 1em;
}

.article h1 {
  text-align: center;
  margin-bottom: 1em;
}

.article h2 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.article p {
  margin-bottom: 1em;
}

@media print {
  #navbar, .scroll-to-top {
    display: none;
  }

  * {
    /* font-family: serif !important;
    font-size: 16pt !important;
    line-height: 1.5 !important; */
    color: black !important;
    background-color: white !important;
  }

  h1, h2, h3 {
    break-after: avoid;
  }

  img, svg {
    break-inside: avoid;
  }
}