body {
  margin: 0;
  padding: 0;
}

.scroll-to-top {
  z-index: 1;
  color: grey;
  position: fixed;
  right: 30px;
  bottom: 20px;
  cursor: pointer;
}

.scroll-to-top:hover {
  color:rgb(27, 71, 216)
}

/* css for sections */

section {
  text-align: center;
}

section ul {
  text-align: left;
}

section.light:nth-of-type(odd) {
  background-color: rgb(241, 241, 241);
}

section.dark:nth-of-type(odd) {
  background-color: rgb(36, 40, 53);
}

/* css for markdown articles */

.article img {
  width: 100%;
}

.article h1 {
  text-align: center;
  margin-bottom: 1em;
}

.article h2 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

@media print {
  #navbar, .scroll-to-top {
    display: none;
  }

  * {
    /* font-family: serif !important;
    font-size: 16pt !important;
    line-height: 1.5 !important; */
    color: black !important;
    background-color: white !important;
  }

  h1, h2, h3 {
    break-after: avoid;
  }

  img, svg {
    break-inside: avoid;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
